<h1>Editing customer</h1>

<style>
.cc {
  margin: 10px;
  width: 40%;
  border: 5px solid #73AD21;
  padding: 30px;
}
</style>

<div class="cc">
<%= render "form", customer: @customer %>
</div>
<br>

<div>
  <%= link_to "Show this customer", @customer %> |
  <%= link_to "Back to customers", customers_path %>
</div>
