<style> 

.cc {
  margin: 10px;
  width: 40%;
  border: 5px solid #73AD21;
  padding: 30px;
}
</style>

<div class="cc">
<h1>Dashboard</h1>



<%= render "form", customer: @customer %>

<br>

<div>
 <%  if current_user && current_user.admin  %>
  <%= link_to "Back to customers", customers_path %>
  <% end %>
</div>
</div>

